<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TestProject</display-name>
    <servlet-name>TestProject</servlet-name>
    <servlet-class>com.octest.servlets.TestProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestProject</servlet-name>
    <url-pattern>/TestProject</url-pattern>
  </servlet-mapping>
  <display-name>testProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.octest.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>TestProject2</display-name>
    <servlet-name>TestProject2</servlet-name>
    <servlet-class>com.octest.servlets.TestProject2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestProject2</servlet-name>
    <url-pattern>/TestProject2</url-pattern>
  </servlet-mapping>
</web-app>